:root {
  --primary: #1e293b;
  --primary-hover: #334155;
  --accent: #3b82f6;
  --danger: #ef4444;
  --success: #10b981;
  --bg: #f8fafc;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --border: #e2e8f0;
  --white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  margin: 0;
  padding: 40px 20px;
}
.container {
  max-width: 1350px;
  margin: auto;
  background: var(--white);
  padding: 40px;
  border-radius: 16px;
  border: 1px solid var(--border);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}
header {
  text-align: center;
  margin-bottom: 35px;
}
.upload-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 30px;
  background: #f1f5f9;
  border-radius: 12px;
  border: 2px dashed var(--border);
  margin-bottom: 24px;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--text-muted);
}
input[type="file"]::file-selector-button {
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--border);
  background: #fff;
}
#btnProcessar {
  width: 100%;
  padding: 18px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.filter-section {
  margin: 32px 0 16px 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.filter-section button {
  flex: 1;
  min-width: 150px;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.4;
  transition: 0.3s;
}
.filter-section button.active {
  opacity: 1;
  border: 2px solid #000;
  transform: scale(1.02);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid var(--border);
  background: #fff;
}
th,
td {
  padding: 12px 15px;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size: 0.9rem;
}
th {
  background: #f8fafc;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--text-muted);
}
td:first-child {
  font-weight: 800;
  text-align: center;
  border-left: none;
  width: 80px;
}
td:nth-child(2) {
  font-family: monospace;
  font-weight: 600;
  min-width: 180px;
}
td:nth-child(3) {
  font-weight: 700;
  color: #1e40af;
  background: #eff6ff;
  text-align: center;
} 
tfoot tr {
  background: #f1f5f9;
  font-weight: 900;
}
.erro-linha td {
  background-color: #fef2f2 !important;
  color: var(--danger);
}
.summary {
  padding: 20px;
  margin-top: 30px;
  border-radius: 12px;
  font-weight: 600;
  text-align: center;
}
